div{
  border: 1px solid black;
}

.calculator{
  height: fit-content;
  width: fit-content;
}

.display{
  height: 100px;
  font-size: 40px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 0px 20px;
}

button{
  height: 100px;
  width: 100px;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-radius: 10px;
  margin: 5px;
}

.numbers{
  display: flex;
  width: 330px;
  height: fit-content;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  align-content: flex-start;
  justify-content: center;
}

.operations{
  width: fit-content
} .operations button{
  background-color: orange;
}

.buttons{
  display: flex;
  width: fit-content;
}

.misc button{
  background-color: darkred;
  color: white;
}
#equal{
  background: darkseagreen;
}